
body {
    text-align: center;
    background-image: url(../images/nba-logo.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 250px;
}

container {
    background-color: lightgray;
    height: 100px;
    width: 300px;
}
header {
	color: black;
    padding-top: 20px;
    font-weight: normal;
}

#timer {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#countdown {
    font-size: 36px
}

#questions {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

#results {
    color: black;
}

#restart {
    color: black;
}